.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms linear;

  padding: 40px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

/* .backdrop.is-hidden .scale-out-horizontal {
	-webkit-animation: scale-out-horizontal 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: scale-out-horizontal 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
} */

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: fill var(--animation-duration) var(--animation-timing-function);
}

.modal-close:hover,
.modal-close:focus {
  cursor: pointer;
  fill: var(--accent-color);
  outline: rgba(0, 0, 0, 0.1);
}

.modal-title {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: #212121;
  margin-bottom: 12px;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  padding: 0;
  padding-left: 42px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--title-text-color);
  transition: outline-color var(--animation-duration)
    var(--animation-timing-function);
}

.form-input:focus {
  outline-color: var(--accent-color);
  cursor: pointer;
}

.form-input:not(:focus):not(:placeholder-shown):valid {
  background-color: rgba(0, 128, 0, 0.144);
}
.form-input:not(:focus):not(:placeholder-shown):invalid {
  background-color: rgba(128, 0, 0, 0.144);
}
.modal-svg {
  position: relative;
  margin-bottom: 10px;
}

.modal-icon-input {
  display: inline-block;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transition: fill var(--animation-duration) var(--animation-timing-function);
}

.form-input:focus + .modal-icon-input {
  fill: var(--accent-color);
}
.comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  resize: none;
  padding: 12px 16px;
  transition: outline-color var(--animation-duration)
    var(--animation-timing-function);
}

.comment::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}
.comment:focus {
  outline-color: var(--accent-color);
  cursor: pointer;
}
.form-field-policy {
  position: relative;
  margin-bottom: 30px;
  padding-left: 16px;
}

.checkbox {
  appearance: none;
  position: absolute;
}

/* .icon-checkbox {
  display: inline-block;
  width: 16px;
  height: 15px;

  border: 2px solid var(--title-text-color);
  border-radius: 2px;
} */
.check-text {
  display: flex;
  width: 100%;
  height: 24px;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.check-text::before {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  display: block;
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  transition: background-color var(--animation-duration)
    var(--animation-timing-function);
}

.checkbox:checked + .check-text::before {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(../img/icon\ check.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.checkbox:focus + .check-text::before {
  border-color: var(--accent-color);
}

/* .checkbox:checked + .icon-checkbox {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(../img/icon\ check.svg);
  background-size: contain;
}
.checkbox:focus + .icon-checkbox {
  border-color: var(--accent-color);
} */

.policy-link {
  color: var(--accent-color);
  text-decoration: underline;
}

.form-field-button {
  display: flex;
  justify-content: center;
}

.form-button {
  display: inline-block;
  min-width: 200px;
  padding: 10px 52px;

  align-items: center;
  text-align: center;
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color var(--animation-duration)
    var(--animation-timing-function);
}
.form-button:hover,
.form-button:focus {
  background-color: #188ce8;
}
