.list.work {
  display: flex;
  column-gap: 30px;
}

.example-work {
  padding-top: 0;
}

.example-work-thumb {
  position: relative;
  & .work-label {
    position: absolute;
    width: 100%;
    min-height: 70px;
    bottom: 0;

    text-align: center;
    padding-top: 27px;

    background-color: rgba(47, 48, 58, 0.8);
    color: var(--accent-white-color);
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.14;
  }
}

/* .work .item {
  display: flex;
} */
