.feature-list {
  display: flex;
  column-gap: 30px;
  & .title {
    margin-bottom: 10px;
    color: var(--title-text-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
  }
  & .item {
    max-width: 270px;
  }
}

.feature::before {
  display: block;
  content: "";
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.icon-antena::before {
  background-image: url("../img/antena.svg");
  background-size: 70px;
}

.icon-clock::before {
  background-image: url("../img/clock.svg");
  background-size: 70px;
}

.icon-diagram::before {
  background-image: url("../img/diagram.svg");
  background-size: 70px;
}

.icon-astronaut::before {
  background-image: url("../img/astronaut.svg");
  background-size: 70px;
}
